body {
    max-width: 100%;
    font-family: "Helvetica", sans-serif;
    font-size: 14pt;
}

h1 {
    width: 100%;
    text-align: center;
}

#calculator-header {
    background-color: #59bb6c;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px; 
    margin-bottom: 20px;
}



#calculator-header a {
    color: inherit;
}

#message-box {
    background-color: #59bb6c; 
    color: black;
    margin-bottom: 10px;
    padding: 15px; 
    border-radius: 8px; 
}

#message-box > textarea {
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
    min-height: 5em;
    color: black;
    border: none;
    border-radius: 5px; 
    padding: 10px; 
    font-size: 12pt;
}

#message-box > textarea:focus {
    outline: none;
    border: 2px solid lightgreen; 
}



#information-box {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 10px;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    justify-content: space-between;
}
#information-box > .label {
    padding-top: 5px;
    text-align: center;
    font-size: small;
    font-variant: all-petite-caps;
    background-color: #59bb6c;
    color: black;
}
#information-box > .value {
    padding-top: 5px;
    font-size: medium;
    text-align: center;
    background-color: #59bb6c;
    color: black;
    margin-bottom: 0;
}

@media (max-width: 500px) {
    #information-box {
        grid-template-columns: repeat(4, auto); 
        grid-template-rows: repeat(4, auto); 
    }
}

@media (max-width: 350px) {
    #information-box {
        grid-template-columns: repeat(6, auto); 
        grid-template-rows: repeat(6, auto); 
    }
}


#viewers {
    background-color: #F9F9F9;
    padding-top: 20px;
}
#viewers-inner {
    color: black;
    padding: 5px;
    margin-bottom: 10px;
}

.label {
    display: block;
    font-size: small;
    font-variant: all-petite-caps;
    padding-bottom: 5px;
}
.value {
    display: block;
    margin-bottom: 20px;
}

#message-viewer, #segments-viewer {
    line-height: 0.8;
}

.block {
    align-items: center;
    color: black;
    display: inline-flex;
    font-family: monospace;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
.block.selected {
    color: white;
}
.block > span {
    cursor: default;
}
.block > span.invisible::before {
    content: "•";
}

#message-viewer > .block {
    font-size: 12px;
    height: 2em;
}
#message-viewer > .block.error {
    background-color: red;
}

#segments-viewer > .block {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 10px;
    height: 1em;
    padding: 4px;
    width: 6ch;
}
#segments-viewer > .block.twilio > img {
    display: inline;
    height: 1em;
}

/********************************/
/* GSM-7 Segments Color Palette */
/********************************/
[data-encoding="GSM-7"] .segment-type-0 {
    background-color: #7323ba; 
    color: white; 
}
[data-encoding="GSM-7"] .segment-type-0.selected {
    background-color: #9457f0; 
    color: white;
}

[data-encoding="GSM-7"] .segment-type-1 {
    background-color: #f38000; 
    color: white;
}
[data-encoding="GSM-7"] .segment-type-1.selected {
    background-color: #e15e3d; 
    color: white; 
}

[data-encoding="GSM-7"] .segment-type-2 {
    background-color: #9457f0; 
    color: white; 
}
[data-encoding="GSM-7"] .segment-type-2.selected {
    background-color: #7323ba; 
    color: white; 
}

[data-encoding="GSM-7"] .segment-type-3 {
    background-color: #e15e3d; 
    color: white; 
}
[data-encoding="GSM-7"] .segment-type-3.selected {
    background-color: #f38000; 
    color: white;
}

[data-encoding="GSM-7"] .segment-type-4 {
    background-color: #d4b8f9; 
 }
 [data-encoding="GSM-7"] .segment-type-4.selected {
     background-color: #9457f0; 
 }

/********************************/
/* UCS-2 Segments Color Palette */
/********************************/

[data-encoding="UCS-2"] .segment-type-0 {
    background-color: #d4b8f9; 
 }
 [data-encoding="UCS-2"] .segment-type-0.selected {
     background-color: #9457f0; 
 }

[data-encoding="UCS-2"] .segment-type-1 {
    background-color: #f38000; 
    color: white;
}
[data-encoding="UCS-2"] .segment-type-1.selected {
    background-color: #e15e3d; 
    color: white; 
}

[data-encoding="UCS-2"] .segment-type-2 {
    background-color: #9457f0; 
    color: white;
}
[data-encoding="UCS-2"] .segment-type-2.selected {
    background-color: #7323ba; 
    color: white; 
}

[data-encoding="UCS-2"] .segment-type-3 {
    background-color: #e15e3d;
    color: white; 
}
[data-encoding="UCS-2"] .segment-type-3.selected {
    background-color: #f38000; 
    color: white;
}


[data-encoding="UCS-2"] .segment-type-4 {
    background-color: #7323ba; 
    color: white; 
}
[data-encoding="UCS-2"] .segment-type-4.selected {
    background-color: #9457f0; 
    color: white;
}

.block.non-gsm {
  color: red;
}

.recently-changed {
    animation: pulseHighlight 1s ease-out infinite;
}

@keyframes pulseHighlight {
  0% {
    color: #f38000;
  }
  100% {
    color: white;
  }
}

/********************************/
/* Legend                       */
/********************************/
.legend {
    font-size: 10px;
    background-color: #f9f9f9;
    padding: 0px 0px 5px 5px;
}

.legend-block {
    display: inline;
    font-size: 10px;
    height: 1em;
    padding: 4px;
    width: 6ch;
    vertical-align: middle;
    font-family: monospace;
  }
  
#warnings-viewer {
    font-size: 10px;
}

input, textarea {
    transition: all 0.1s ease-in-out;
}

textarea:focus, input:focus {
    box-shadow: 0 0 10px rgba(115, 35, 186, 0.5); 
}

select {
    appearance: none; 
    background-color: #59bb6c; 
    color: black; 
    border: 2px solid lightgreen;
    border-radius: 8px;
    padding: 4px;
    font-size: 10pt;
    cursor: pointer;
    transition: all 0.1s ease;
}

select::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    pointer-events: none;
}

select:hover {
    background-color: lightgreen; 
    border: 2px solid lightgreen;
}
